<div class="col-lg-5 p-3">
  <div class="row">
    <div class="mb-2">
      <label for="name" class="form-label"><strong>Nom :</strong></label>
      <input type="text" class="form-control" id="name" name="name" aria-describedby="Nom" autocomplete="off" maxlength="100" {% if game
        %}value="{{game.name}}" {% if game.status !="draft" and not clone %}readonly{% endif%}{% endif %} required>
      <div class="invalid-feedback">
        Vous devez choisir un nom pour votre annonce (100 caractères max).
      </div>
    </div>
  </div>
  <div class="row">
    <div class="mb-2">
      <label for="system" class="form-label"><strong>Système :</strong></label>
      <select class="form-select select2" id="system" name="system" aria-describedby="Système" required>
        <option value="" selected></option>
        {% for s in systems %}
        <option value="{{ s.id }}" {% if game and game.system_id==s.id%}selected{% endif %}>{{ s.name }}</option>
        {% endfor %}
      </select>
      <div class="invalid-feedback">
        Vous devez choisir un système de jeu.
      </div>
    </div>
  </div>
  <div class="row">
    <div class="mb-2">
      <label for="vtt" class="form-label"><strong>VTT :</strong></label>
      <select class="form-select" name="vtt" id="vtt" aria-describedby="VTT">
        <option value="" selected></option>
        {% for v in vtts %}
        <option value="{{ v.id }}" {% if game and game.vtt_id==v.id%}selected{% endif %}>{{ v.name }}</option>
        {% endfor %}
      </select>
    </div>
  </div>
  <div class="row">
    <div class="mb-2">
      <label for="description" class="form-label"><strong>Description du scénario :</strong></label>
      <textarea class="form-control" name="description" id="description" rows="14" spellcheck="true"
        required>{% if game %}{{game.description}}{% endif %}</textarea>
      <div class="invalid-feedback">
        Vous devez entrer une description.
      </div>
    </div>
  </div>
  <div class="row">
    <div class="mb-2">
      <label for="complement" class="form-label"><strong>Informations complémentaires :</strong></label>
      <textarea class="form-control" name="complement" id="complement" rows="4"
        spellcheck="true">{% if game and game.complement %}{{game.complement}}{% endif %}</textarea>
    </div>
  </div>
</div>