<div class="modal fade" id="addSessionModal" tabindex="-1" aria-labelledby="addSessionModal" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5">Ajouter une session</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form method="post" action="/annonces/{{game.slug}}/sessions/ajouter/" class="row">
          <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
          <div class="row">
            <div class="input-group mb-3">
              <span class="input-group-text">Début :</span>
              <input id="date_start" name="date_start"
                class="flatpickr flatpickr-start flatpickr-input active form-control" type="text" autocomplete="off"
                onchange="validateDateRange('#date_start', '#date_end', 'add_session')" required>
              <span class="input-group-text">Fin :</span>
              <input name="date_end" id="date_end" class="flatpickr flatpickr-end flatpickr-input active form-control"
                type="text" autocomplete="off" onchange="validateDateRange('#date_start', '#date_end', 'add_session')"
                required>
              <button id="add_session" type="submit" class="btn btn-primary" disabled>Ajouter</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>