<div class="col" data-game-id="{{game.slug}}">
  <div class="card game-card shadow h-100 shiny">
    <div class="card-header text-light" style="
    {# {% if game.special_event %}
      background-color: {{ hex_color(game.special_event.color) }};
      color: {{ text_color(hex_color(game.special_event.color)) }}; #}
    {% if game.status == 'draft' %}
      background-color: var(--bs-secondary);
      color: white;
    {% elif game.status == 'archived' %}
      background-color: var(--bs-danger);
      color: white;
    {% elif game.status == 'closed' %}
      background-color: var(--bs-dark);
      color: white;
    {% else %}
      background-color: {% if game.type == 'campaign' %}var(--bs-primary){% elif game.type == 'videogame' %}var(--bs-secondary){% else %}var(--bs-success){% endif %};
      color: white;
    {% endif %}
  ">
      <h5 class="card-title text-truncate">
        {% if game.special_event %}
        {{ game.special_event.emoji }} {{ game.name }} {{ game.special_event.emoji }}
        {% else %}
        {{ game.name }}
        {% endif %}
      </h5>
    </div>
    <img src="{{ game.img if game.img else '/static/img/placeholder.jpeg' }}" class="card-img-bottom img-preview"
      alt="{{ game.name }}">
    <div class="card-body">
      <div class="row">
        <div class="col-6">
          {% if game.type=='campaign' %}<i class="bi bi-book"></i>&nbsp; Campagne{% elif game.type=='videogame' %}<i class="bi bi-controller"></i>&nbsp; Jeu vidéo{% else %}<i class="bi bi-dice-5"></i>&nbsp; One Shot{% endif %}
        </div>
        <div class="col-6 text-truncate">
          <i class="bi bi-joystick"></i>&nbsp; {{ game.system.name }}
        </div>
      </div>
      <div class="row">
        <div class="col-6 text-truncate">
          <i class="bi bi-person"></i>&nbsp; {{ game.gm.name }}
        </div>
        <div class="col-6">
          <i class="bi bi-calendar"></i>&nbsp; {{ game.date|format_datetime }}
        </div>
      </div>
      <div class="row">
        <div class="col-6">
          <i class="bi bi-people"></i>&nbsp; {{ game.players|length }}/{{ game.party_size }}
          {% if game.party_selection %}(sur sélection){% endif %}
        </div>
        <div class="col-6">
          <i class="bi bi-clock-history"></i>&nbsp; {{ game.length }}
        </div>
      </div>
      <a href="{% if request.path=='/demo/' %}#{% else %}/annonces/{{game.slug}}/{% endif %}"
        class="stretched-link"></a>
    </div>
    {% set tags = game.restriction_tags.split(',') if game.restriction_tags else [] %}
    <div class="card-footer text-center">
      {% if game.status=='draft' %}<span class="badge text-bg-secondary">brouillon</span>{% endif %}
      {% if game.special_event %}
      <span style="background-color: {{ hex_color(game.special_event.color) }};
                   color: {{ text_color(hex_color(game.special_event.color)) }};" class="badge">
        {{ game.special_event.name }}
      </span>
      {% endif %}
      {% if game.restriction == 'all' %}
      <span class="badge text-bg-success">Tout public</span> {% elif game.restriction == '16+' %}
      <span class="badge text-bg-warning">16+</span> {% else %}
      <span class="badge text-bg-danger">18+</span> {% endif %} {% for tag in tags %}<span class="badge bg-secondary">{{
        tag }}</span>{% endfor %}
    </div>
  </div>
</div>