{% set is_my_games_view = request.path.startswith('/mes_') %}
{% set has_status_filter = request.args.get('open') or request.args.get('closed') or request.args.get('archived') or
request.args.get('draft') %}
{% set has_type_filter = request.args.get('oneshot') or request.args.get('campaign') or request.args.get('videogame') %}
{% set has_restriction_filter = request.args.get('all') or request.args.get('16+') or request.args.get('18+') %}
<div class="collapse" id="searchBar">
  <div class="p-4">
    <form class="d-container-fluid" role="search" method="get" action="{{ request.path }}">
      <div class="row">
        <div class="col-sm-4 pb-2">
          <div class="input-group me-2">
            <span class="input-group-text" id="name">Nom</span>
            <input type="text" class="form-control" placeholder="Nom de l'annonce" aria-label="name"
              aria-describedby="name" name="name" {% if request.args.get( 'name' )
              %}value="{{ request.args.get('name') }}" {% endif %}>
          </div>
        </div>
        <div class="col-sm-4 pb-2">
          <div class="input-group me-2">
            <span class="input-group-text" id="system">Système</span>
            <select class="form-select" name="system" aria-describedby="Système">
              <option value="None"></option>
              {% for s in systems %}
              <option value="{{ s.id }}" {% if request.args.get('system')|int==s.id %}selected{% endif %}>{{ s.name }}
              </option>
              {% endfor %}
            </select>
          </div>
        </div>
        <div class="col-sm-4 pb-2">
          <div class="input-group me-2">
            <span class="input-group-text" id="vtt">VTT</span>
            <select class="form-select" name="vtt" aria-describedby="VTT">
              <option value="None"></option>
              {% for v in vtts %}
              <option value="{{ v.id }}" {% if request.args.get('vtt')|int==v.id %}selected{% endif %}>{{ v.name }}
              </option>
              {% endfor %}
            </select>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-3 pb-2">
          <div class="btn-group me-2">
            <input type="checkbox" class="btn-check" id="oneshot" autocomplete="off" name="oneshot" {% if
              request.args.get('oneshot') or not has_type_filter %}checked{% endif %}>
            <label class="btn btn-sm btn-outline-success" for="oneshot">Oneshots</label>
            <input type="checkbox" class="btn-check" id="campaign" autocomplete="off" name="campaign" {% if
              request.args.get('campaign') or not has_type_filter %}checked{% endif %}>
            <label class="btn btn-sm btn-outline-primary" for="campaign">Campagnes</label>
            <input type="checkbox" class="btn-check" id="videogame" autocomplete="off" name="videogame" {% if
              request.args.get('videogame') or not has_type_filter %}checked{% endif %}>
            <label class="btn btn-sm btn-outline-secondary" for="videogame">Jeux vidéo</label>
          </div>
        </div>
        <div class="col-sm-4 pb-2">
          <div class="btn-group me-2">
            <input type="checkbox" class="btn-check" id="open" autocomplete="off" name="open" {% if
              request.args.get('open') or not has_status_filter %}checked{% endif %}>
            <label class="btn btn-sm btn-outline-secondary" for="open">Ouvertes</label>
            <input type="checkbox" class="btn-check" id="closed" autocomplete="off" name="closed" {% if
              request.args.get('closed') or (is_my_games_view and not has_status_filter) %}checked{% endif %}>
            <label class="btn btn-sm btn-outline-secondary" for="closed">Complètes</label>
            <input type="checkbox" class="btn-check" id="archived" autocomplete="off" name="archived" {% if
              request.args.get('archived') or (is_my_games_view and not has_status_filter) %}checked{% endif %}>
            <label class="btn btn-sm btn-outline-secondary" for="archived">Archivées</label>
            {% if payload['is_gm'] or payload['is_admin'] %}
            <input type="checkbox" class="btn-check" id="draft" autocomplete="off" name="draft" {% if
              request.args.get('draft') or (is_my_games_view and not has_status_filter) %}checked{% endif %}>
            <label class="btn btn-sm btn-outline-secondary" for="draft">Brouillons</label>
            {% endif %}
          </div>
        </div>
        <div class="col-sm-3 pb-2">
          <div class="btn-group me-2">
            <input type="checkbox" class="btn-check" id="all" autocomplete="off" name="all" {% if
              request.args.get('all') or not has_restriction_filter %}checked{% endif %}>
            <label class="btn btn-sm btn-outline-success" for="all">Tout public</label>
            <input type="checkbox" class="btn-check" id="16+" autocomplete="off" name="16+" {% if
              request.args.get('16+') or not has_restriction_filter %}checked{% endif %}>
            <label class="btn btn-sm btn-outline-warning" for="16+">16+</label>
            <input type="checkbox" class="btn-check" id="18+" autocomplete="off" name="18+" {% if
              request.args.get('18+') or not has_restriction_filter %}checked{% endif %}>
            <label class="btn btn-sm btn-outline-danger" for="18+">18+</label>
          </div>
        </div>
        <div class="col-sm-2 pb-2 d-grid" id="search-submit-button">
          <button class="btn btn-outline-secondary" type="submit">Rechercher</button>
        </div>
      </div>
    </form>
  </div>
</div>